@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}
p {
    margin-bottom: 0;
    font-size: 22px;
}
.mod {
    font-size: 24px;
}

   a {
    color: #0168aa; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчёркивание */
   }
   a:hover {
    border-bottom: 1px dashed #0168aa; /* Добавляем синее пунктирное подчёркивание */
   }
   .ico a {
    border-bottom: none;
}

.carousel {
    margin: 15px 15px 15px 15px;
}

    .second {
        flex-direction: row;
    }

@media only screen and (max-width:850px) and (min-width:450px) {
    #slider_bl .slider-wrapper {
        border-radius: 0
    }
}

@media only screen and (max-width:450px) {
    #slider_bl .slider-wrapper {
        border-radius: 0
    }

    #slider_bl .slider-wrapper .info {
        opacity: 0
    }
}

@media only screen and (min-width:850px) {
    #slider_bl body {
        padding: 0 80px
    }
}

body {
    background: #ff9400;
    sans-serif;
    letter-spacing: 1px;
    font-family: 'Jost', sans-serif;
}

.ico {
    display: inline-flex;
}
.ico img {
    padding-top: 25px;
    padding-left: 5px;
    width: 50px;
}
footer {
    display: flex;
    background: -webkit-linear-gradient(180deg, rgb(255, 148, 0), rgb(1, 104, 170) 18%, rgb(15, 73, 146));
background: -moz-linear-gradient(180deg, rgb(255, 148, 0), rgb(1, 104, 170) 18%, rgb(15, 73, 146));
background: linear-gradient(180deg, rgb(255, 148, 0), rgb(1, 104, 170) 18%, rgb(15, 73, 146));
}
footer article{
    flex: 1;
    padding-top: 15px;
}
footer a{
    color: #FFF;
    font-size: 18px;
}
footer p{
    color: #FFF;
    margin-left: 10px;
}
footer a:hover {
    border-bottom: 1px dashed #FFF;
    color: #FFF;
}
.post {
    background: -webkit-linear-gradient(180deg, rgb(1, 104, 170) 52%, rgb(15, 73, 146) 100%);
    background: -moz-linear-gradient(180deg, rgb(1, 104, 170) 52%, rgb(15, 73, 146) 100%);
    background: linear-gradient(180deg, rgb(1, 104, 170) 52%, rgb(15, 73, 146) 100%);
    color: aliceblue;
    margin: 0
}

.post p {
    padding-top: 0px;
    font-size: 26px;
    text-align: center;
}

.first {
    display: flex;
    font-size: 24px;
    flex-direction: row;
}
.ico {
    display: flex;
    flex-direction: column;
}

.second {
    display: flex;
    font-size: 20px;
}

.second article {
    flex: 1;
}

h2 {
    font-size: 40px;
}

.content {
    margin: 15px 15px 15px 15px;
}

.box {
    padding-left: 15px;
}

iframe {
    width: 100%;
}

header {
    display: table;
    padding: 0em 5%;
    background: -webkit-linear-gradient(180deg, rgb(246, 209, 46) 24%, rgb(254, 164, 0) 96%, rgb(1, 104, 170) 100%);
    background: -moz-linear-gradient(180deg, rgb(246, 209, 46) 24%, rgb(254, 164, 0) 96%, rgb(1, 104, 170) 100%);
    background: linear-gradient(180deg, rgb(246, 209, 46) 24%, rgb(254, 164, 0) 96%, rgb(1, 104, 170) 100%);
    color: black;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header nav,
header div {
    display: table-cell;
    vertical-align: middle;
    height: 2em;
}

header nav {
    text-align: right;
    white-space: wrap;
}

header>div h1 {
    font-size: 3em;
}

header nav a {
    padding: 0 0.6em;
    white-space: nowrap;
    font-size: 18px;

}

.logo {
    width: 20em;
    margin-bottom: -2em;
    margin-top: -1.5em;
}

.second {
    flex-direction: row;
}
.second article{
    width: 50%;
}
.second .tab {
    padding-left: 25px;
}
.ttab {
    padding-left: 50px;
}
hr {
background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
border: 0;
height: 1px;
margin: 11px 0 11px 0;box-sizing:
content-box;
display: block;
} 
@media screen and (max-width: 870px) {
    header {
        height: auto;
    }
    footer {
    display: flex;
    background: -webkit-linear-gradient(180deg, rgb(255, 148, 0), rgb(1, 104, 170) 18%, rgb(15, 73, 146));
background: -moz-linear-gradient(180deg, rgb(255, 148, 0), rgb(1, 104, 170) 18%, rgb(15, 73, 146));
background: linear-gradient(180deg, rgb(255, 148, 0), rgb(1, 104, 170) 18%, rgb(15, 73, 146));
}

    .ico {
        flex-direction: row;
        justify-content: space-around;
    }

    header>div,
    header>div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
        margin-bottom: 1em;
    }

    .first {
        flex-direction: column;
    }
    .second {
    flex-direction: column;
}
    footer {
    flex-direction: column;
}
footer article{
    padding-top: 50px;
}
.carousel {
    margin: 0;
}
.second article{
    width: 100%;
}

    .box {
        padding: 10px 10px 10px;
    }
    body p {
    font-size: 18px;
}
.mod {
    font-size: 20px;
}
}

}

@media screen and (max-width: 472px) {
    .logo {
        width: 16em;
    }

    header div {
        padding-bottom: 10px;
    }

    .post p {
        padding: 0px 10px 0px 10px;
        font-size: 18px;
    }

}